/* GLOBAL RESET*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM


*/
/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.4);
}

/* BASE HEADINGS COLORS*/
h1, h2, h3, h4, h5, h6 {
  color: rgb(0, 0, 0);
}

/* BASE TEXT FONTS */
body {
  font-family: "source sans pro", Helvetica, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5wm 0;
}

/* TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2em;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 30em;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.healine {
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: rgb(255, 0, 0);
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.5);
}

/* HELPERS */
/* BUTTONS */
.button {
  display: inline-block;
  background-color: rgb(255, 0, 0);
  color: #fff;
  text-decoration: none;
  padding: 1em;
  border-radius: 5px;
}
.button:hover {
  background-color: rgb(114, 4, 4);
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
  background: red;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
    background: yellow;
  }
}
@media (min-width: 1050px) {
  body {
    font-size: 112.5%;
    background: green;
  }
}
/* SEMANTIC GRID SYSTEM */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.33%;
  }
  .row .two-thirds {
    width: 64.66%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .centured {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}